In [30]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    database="testingpython"
)
mycursor = mydb.cursor()

# mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [31]:
mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Sudan", "Dang Ghorahi")
mycursor.execute(sql,val)

mydb.commit()

In [32]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)
mydb.commit()

In [41]:
sql = "Select address from customers where name='sudan'"
# val = ("sudan")
mycursor.execute(sql)
myresult = mycursor.fetchall()
print(type(myresult))
for x in myresult:
    print(x)

<class 'list'>
('Dang Ghorahi',)
('Dang Ghorahi',)